
.botao{
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #aaa;
    color: #000;
}
.botao:hover{
   
    transform: scale(1.05);
    box-shadow: 2px 5px 5px;
    color: rgb(255, 255, 255);
    transition: all .2s;
 background-color: rgb(255, 64, 64);
}